<h1>New Pdf</h1>

<%= form_with model: @pdf, local: true do |form| %>
  <% if @pdf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pdf.errors.count, "error") %> prohibited this pdf from being saved:</h2>

      <ul>
        <% @pdf.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :pdf %>
    <%= form.file_field :pdf %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', pdfs_path %>
